.sidebar-menu {
  position: fixed;
}

.sidebar-menu__item {
  font-size: 19px;
  color: #0F141A;
  display: flex;
  align-items: center;
  font-weight: 700;
  padding: 10px;
}

.sidebar-menu__item:hover {
  background: #E1ECC8;
  border-radius: 20px;
  cursor: pointer;
}

.sidebar-menu__item--active {
  color: black;
}

.sidebar-menu__item-icon {
  height: 26px;
  margin-right: 20px;
}

.sidebar-menu__item--active .sidebar-menu__item-icon {
  filter: invert(38%) sepia(38%) saturate(38%) hue-rotate(120deg) brightness(38%) contrast(38%);
}


