{% extends "base.html" %}

{% block title %} Головна - Трембіта {% endblock title %}

{% block navbarLinks %}
<a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
<a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Trembita</a>
<a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"><i class="fa fa-globe"></i></a>
<a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-user"></i></a>
<a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i class="fa fa-envelope"></i></a>
{% endblock navbarLinks %}

{% block navbarNotifications %}
{% endblock navbarNotifications %}

{% block notificationsCount %}{% endblock notificationsCount %}

{% block navbarAvatar %}
    {% if current_user.is_authenticated %}
    <img src="{{ url_for('main.UploadedAvatar', filename=current_user.id) }}" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
    {% endif %}
{% endblock navbarAvatar %}

{% block mobileNavbar %}
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>
{% endblock mobileNavbar %}

{% block profile %}
    {% if current_user.is_authenticated %}
    <div class="w3-card w3-round w3-white">
        <div class="w3-container">
            <h4 class="w3-center">Мій профіль</h4>
            <p class="w3-center"><img src="{{ url_for('main.UploadedAvatar', filename=current_user.id) }}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
            <h3>{{ current_user.name }}</h3>
            <p>@{{ current_user.username }}</p>
            <hr>
            <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>Перша українська соцмережа</p>
        </div>
    </div>
    {% endif %}
{% endblock profile %}

{% block sideMenu %}
<button class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i>Мій профіль</button>
<button class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i>Сповіщення</button>
<button class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i>Мессенджер</button>
{% endblock sideMenu %}

{% block interests %}
<div class="w3-card w3-round w3-white w3-hide-small">
    <div class="w3-container">
        <p>Інтереси</p>
        <p>
            <span class="w3-tag w3-small w3-theme-d5">Новини</span>
            <span class="w3-tag w3-small w3-theme-d4">W3Schools</span>
            <span class="w3-tag w3-small w3-theme-d3">Спорт</span>
            <span class="w3-tag w3-small w3-theme-d2">Ігри</span>
            <span class="w3-tag w3-small w3-theme-d1">Спілкування</span>
            <span class="w3-tag w3-small w3-theme">Дизайн</span>
            <span class="w3-tag w3-small w3-theme-l1">Арт</span>
            <span class="w3-tag w3-small w3-theme-l2">Програмування</span>
            <span class="w3-tag w3-small w3-theme-l3">Література</span>
            <span class="w3-tag w3-small w3-theme-l4">Малювання</span>
            <span class="w3-tag w3-small w3-theme-l5">Навчання</span>
        </p>
    </div>
</div>
{% endblock interests %}

{% block alertBox %}
<div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
    <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
    <i class="fa fa-remove"></i>
    </span>
    <p><strong>Агов!</strong></p>
    <p>Це лише можливий варіант дизайну</p>
</div>
{% endblock alertBox %}

{% block writeOctave %}
    {% if current_user.is_authenticated %}
    <div class="w3-row-padding">
        <div class="w3-col m12">
            <div class="w3-card w3-round w3-white">
                <div class="w3-container w3-padding">
                    <h6 class="w3-opacity">Напишіть свою октаву</h6>
                    <form id="postForm" method="post" action="/post" onsubmit="createPost(); return false;">
                        <input type="text" name="content" class="w3-border w3-padding" placeholder="Що нового?">
                        <button type="button" class="w3-button w3-theme" onclick="createPost()"><i class="fa fa-pencil"></i> Опублікувати</button>
                    </form>
                    <!-- <p contenteditable="true" class="w3-border w3-padding">Що нового?</p> -->
                    <!-- <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i> Опублікувати</button>  -->
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock writeOctave %}

{% block posts %}
    {% for octave in posts %}
    <div class="w3-container w3-card w3-white w3-round w3-margin octave">
        <br>
        <img src="{{ url_for('main.UploadedAvatar', filename=octave.author.id) }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">{{ octave.date.strftime("%d.%m.%Y %H:%M:%S") }}</span>
        <h4><a href="/profile/{{octave.author.username}}">{{ octave.author.name }}</a></h4>@{{ octave.author.username }}<br>
        <p>{{ octave.content }}</p>
        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Лайк (0)</button> 
        <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Прокоментувати (0)</button> 
    </div>
    {% endfor %}
{% endblock posts %}

{% block footer %}
<!--footer class="w3-container w3-theme-d3 w3-padding-16">
    <h5>Footer</h5>
</footer-->
<footer class="w3-container w3-theme-d5">
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

    {% if current_user.is_authenticated %}
    <script>
        function createPost() {
            const content = document.querySelector('input[name="content"]').value;
            if (!content) {
                alert("Октава пуста");
                return;
            }

            const data = {
                content: content
            };

            // Make the AJAX POST request
            fetch("/post", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                console.log(data.message); //alert(data.message); // Display the response from the server
                document.getElementById("postForm").reset(); // Clear the form

                location.reload(); // Warning: this is not correct
            })
            .catch(error => {
                console.error("Error:", error);
                alert("Помилка: " + error);
            });
        }
    </script>
    {% endif %}
{% endblock footer %}
