{% extends "base.html" %}

{% block title %} Вхід - Трембіта {% endblock title %}

{% block leftColumn %}{% endblock leftColumn %}
{% block rightColumn %}{% endblock rightColumn %}

{% block middleColumn %}
<div class="w3-col m7" style="margin: auto;">
    <div class="w3-row-padding" style="margin: auto;">
        <div class="w3-col m12" style="margin: auto;">
            <div class="w3-card w3-round w3-white" style="margin: auto;">
                <div class="w3-container w3-padding" style="margin: auto;">
                    <h6 class="w3-opacity">Вхід</h6>
                    <form action="/login" method="POST">
                        <label for="username">Логін (нік):</label>
                        <input class="w3-border w3-padding" type="text" id="username" name="username" placeholder="Введіть свій логін (нік)">
                        <br>
                        <label for="password">Пароль:</label>
                        <input class="w3-border w3-padding" type="password" id="password" name="password" placeholder="Введіть свій пароль">
                        <br>
                        <input class="w3-button w3-theme" type="submit" value="Увійти">
                    </form>

                    <h6 class="w3-opacity">Реєстрація</h6>
                    <form action="/register" method="POST">
                        <label for="name">Ім'я користувача:</label>
                        <input class="w3-border w3-padding" type="text" id="name" name="name" placeholder="Введіть своє ім'я користувача">
                        <br>
                        <label for="username">Унікальний нік:</label>
                        <input class="w3-border w3-padding" type="text" id="username" name="username" placeholder="Введіть унікальний нік">
                        <br>
                        <label for="email">Email:</label>
                        <input class="w3-border w3-padding" type="email" id="email" name="email" placeholder="Введіть свою електронну пошту">
                        <br>
                        <!-- <label for="phone">Телефон:</label>
                        <input type="tel" id="phone" name="phone" placeholder="Введіть номер телефону">
                        <br> -->
                        <label for="password">Пароль:</label>
                        <input class="w3-border w3-padding" type="password" id="password" name="password" placeholder="Введіть пароль">
                        <br>
                        <input class="w3-button w3-theme" type="submit" value="Зареєструватись">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock middleColumn %}

{% block footer %}
{% endblock footer %}
