{% extends "base.html" %}

{% block title %} Профіль {{ name }} - Трембіта {% endblock title %}

{% block menu %}
    <div class="sidebar-menu__item">
        <img src="{{ url_for('static', filename='svg/home.svg') }}" class="sidebar-menu__item-icon" /> Головна
    </div>
    <div class="sidebar-menu__item">
        <img src="{{ url_for('static', filename='svg/explore.svg') }}" class="sidebar-menu__item-icon" /> Тренди
    </div>
    <div class="sidebar-menu__item">
        <img src="{{ url_for('static', filename='svg/notifications.svg') }}" class="sidebar-menu__item-icon" /> Сповіщення
    </div>
    <div class="sidebar-menu__item">
        <img src="{{ url_for('static', filename='svg/messages.svg') }}" class="sidebar-menu__item-icon" /> Повідомлення
    </div>
    <div class="sidebar-menu__item sidebar-menu__item--active">
        <img src="{{ url_for('static', filename='svg/profile.svg') }}" class="sidebar-menu__item-icon" /> Профіль
    </div>
    <div class="sidebar-menu__item">
        <img src="{{ url_for('static', filename='svg/more.svg') }}" class="sidebar-menu__item-icon" /> Інше
    </div>
{% endblock menu %}

{% block content %}
    <h1>{{ name }}{% if private %}&#x1F512;{% endif %}</h1>
    <span>@{{ username }}</span>
    <br>
    <div>{{ "" if not about else about }}</div><br><br>

    {% for post in posts %}
        <div class="octave">
          <img class="octave__author-logo" src="{{ url_for('static', filename='img/user-icon.png') }}" />
          <div class="octave__main">
            <div class="octave__header">
              <div class="octave__author-name"> {{ name }} </div>
              <div class="octave__author-slug"> @{{ username }} </div>
              <div class="octave__publish-time"> {{ post.date.strftime("%b %d, %Y") }} </div>
            </div>
            <div class="octave__content">
              {{ post.content }}
            </div>
          </div>
        </div>
    {% endfor %}
{% endblock content %}

{% block trending %}
{% endblock trending %}

{% block whoToFollow %}
    {% for user in users %}
        <div class="who-to-follow__block">
            <img class="who-to-follow__author-logo" src="{{ url_for('static', filename='img/user-icon.png') }}" />
            <div class="who-to-follow__content">
                <div>
                    <div class="who-to-follow__author-name"> {{ user.name }} </div>
                    <div class="who-to-follow__author-slug"> @{{ user.username }} </div>
                </div>
                <div class="who-to-follow__button"> Стежити </div>
            </div>
        </div>
    {% endfor %}
{% endblock whoToFollow %}